.boad{
 background-color: darkgray;
    padding: 100px 0px 100px 0px;
    border-radius: 50px;
}
.boa{

    background-color: bisque;
    padding: 100px 0px 100px 0px;

}
.e{
    margin-top: 10px;
    opacity: 0.5;
}